<!-- Code to add funds from list box and submit
To-Do - Write the submit contents to JSON file
-->
<div ng-controller="addMFController">
	<h3 class="p-3 mb-2 bg-primary text-white">Add Mutual fund</h3>
	<form class="form-horizontal" role="form" ng-submit="addItem()">
	<div class="form-group">
		<label class="col-md-1 control-label">MF Name</label>
		<div class="col-md-4">
			<!-- <input type="text" class="form-control" name="MFName"
				ng-model="mname" /> -->
			<select name="mname" id="mname"
      			ng-options="x.MFName for x in data"
      			ng-model="mname" class="form-control"></select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-1 control-label">Folio Number</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="FolioNumber"
				ng-model="folioNumber" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-1 control-label">Invested amount</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name=Investedamount"
				ng-model="Investedamount" />
		</div>
	</div>
		<div class="form-group">
		<label class="col-md-1 control-label">Units</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="units"
				ng-model="units" />
		</div>
	</div>
		<div class="form-group">
		<label class="col-md-1 control-label">NAV</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="NAV"
				ng-model="NAV" />
		</div>
	</div>
		<div class="form-group">
		<label class="col-md-1 control-label">XIR</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="XIR"
				ng-model="XIR" />
		</div>
	</div>
	<div class="form-group">
		<div style="padding-left:110px">
			<input type="submit" value="Add" class="btn btn-primary"/>
		</div>
	</div>
</form>



</div>